In [1]:
import mysql.connector

In [2]:
def excecute_quary(quary):
    """
        Description:
            To connect database and excecute sql quary.
        Parameter:
            quary: sql quary
        Return: 
            none 
    """
    try:
        db_connection = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Vaibhav@123",
        database="sakila")
        db_cursor = db_connection.cursor()
        db_cursor.execute(quary)
        
    except Exception as e:
        print("Other problems check", e)

def insert_excecute_quary(quary):
    """
        Description:
            To connect database and excecute sql quary for insert the data.
        Parameter:
            quary: sql quary 
            row: records that save in table
        Return: 
            none 
    """
    try:
        db_connection = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Vaibhav@123",
        database="sakila")
        db_cursor = db_connection.cursor()
        db_cursor.execute(quary)
        db_connection.commit()
        
    except Exception as e:
        print("Other problems check", e)

def read_quary(quary):
    """
        Description:
            To connect database and read sql quary.
        Parameter:
            quary: sql quary
        Return: 
            result of quary 
    """
    try:
        db_connection = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Vaibhav@123",
        database="sakila")
        db_cursor = db_connection.cursor()
        db_cursor.execute(quary)
        result = db_cursor.fetchall()
        return result
    except Exception as e:
        print("Other problems check", e)

In [4]:
query = '''show tables''' 
print(read_quary(query))

[('actor',), ('actor_info',), ('address',), ('category',), ('city',), ('country',), ('customer',), ('customer_list',), ('film',), ('film_actor',), ('film_category',), ('film_list',), ('film_text',), ('inventory',), ('language',), ('nicer_but_slower_film_list',), ('payment',), ('rental',), ('sales_by_film_category',), ('sales_by_store',), ('staff',), ('staff_list',), ('store',)]

In [5]:
query = '''select * from actor limit 10''' 
print(read_quary(query))

[(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33)), (2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33)), (3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33)), (4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33)), (5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33)), (6, 'BETTE', 'NICHOLSON', datetime.datetime(2006, 2, 15, 4, 34, 33)), (7, 'GRACE', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33)), (8, 'MATTHEW', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33)), (9, 'JOE', 'SWANK', datetime.datetime(2006, 2, 15, 4, 34, 33)), (10, 'CHRISTIAN', 'GABLE', datetime.datetime(2006, 2, 15, 4, 34, 33))]

## dim_date table

In [45]:
create_table_dim_date = '''Create table if not exists dim_date(
    date_key datetime,
    date date,
    year int,
    quarter int,
    month int,
    week int,
    day int)'''

In [44]:
# drop_query = '''drop table dim_date'''
# excecute_quary(drop_query)

In [46]:
excecute_quary(create_table_dim_date)

In [51]:
query = '''show columns from payment '''
print(read_quary(query))

[('payment_id', b'smallint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('customer_id', b'smallint unsigned', 'NO', 'MUL', None, ''), ('staff_id', b'tinyint unsigned', 'NO', 'MUL', None, ''), ('rental_id', b'int', 'YES', 'MUL', None, ''), ('amount', b'decimal(5,2)', 'NO', '', None, ''), ('payment_date', b'datetime', 'NO', '', None, ''), ('last_update', b'timestamp', 'YES', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]

In [52]:
query = '''select * from payment limit 10 '''
print(read_quary(query))

[(1, 1, 1, 76, Decimal('2.99'), datetime.datetime(2005, 5, 25, 11, 30, 37), datetime.datetime(2006, 2, 15, 22, 12, 30)), (2, 1, 1, 573, Decimal('0.99'), datetime.datetime(2005, 5, 28, 10, 35, 23), datetime.datetime(2006, 2, 15, 22, 12, 30)), (3, 1, 1, 1185, Decimal('5.99'), datetime.datetime(2005, 6, 15, 0, 54, 12), datetime.datetime(2006, 2, 15, 22, 12, 30)), (4, 1, 2, 1422, Decimal('0.99'), datetime.datetime(2005, 6, 15, 18, 2, 53), datetime.datetime(2006, 2, 15, 22, 12, 30)), (5, 1, 2, 1476, Decimal('9.99'), datetime.datetime(2005, 6, 15, 21, 8, 46), datetime.datetime(2006, 2, 15, 22, 12, 30)), (6, 1, 1, 1725, Decimal('4.99'), datetime.datetime(2005, 6, 16, 15, 18, 57), datetime.datetime(2006, 2, 15, 22, 12, 30)), (7, 1, 1, 2308, Decimal('4.99'), datetime.datetime(2005, 6, 18, 8, 41, 48), datetime.datetime(2006, 2, 15, 22, 12, 30)), (8, 1, 2, 2363, Decimal('0.99'), datetime.datetime(2005, 6, 18, 13, 33, 59), datetime.datetime(2006, 2, 15, 22, 12, 30)), (9, 1, 1, 3284, Decimal('3.99'), datetime.datetime(2005, 6, 21, 6, 24, 45), datetime.datetime(2006, 2, 15, 22, 12, 30)), (10, 1, 2, 4526, Decimal('5.99'), datetime.datetime(2005, 7, 8, 3, 17, 5), datetime.datetime(2006, 2, 15, 22, 12, 30))]

In [43]:
## view insert data to dim_date table

query = '''select payment_date as date_key,
date(payment_date) as date,
EXTRACT(year FROM payment.payment_date) as year,
EXTRACT(quarter FROM payment.payment_date) as quarter,
EXTRACT(month FROM payment.payment_date) as month,
EXTRACT(week FROM payment.payment_date) as week,
EXTRACT(day FROM payment.payment_date) as day
from payment limit 5;'''
print(read_quary(query))

[(datetime.datetime(2005, 5, 25, 11, 30, 37), datetime.date(2005, 5, 25), 2005, 2, 5, 21, 25), (datetime.datetime(2005, 5, 28, 10, 35, 23), datetime.date(2005, 5, 28), 2005, 2, 5, 21, 28), (datetime.datetime(2005, 6, 15, 0, 54, 12), datetime.date(2005, 6, 15), 2005, 2, 6, 24, 15), (datetime.datetime(2005, 6, 15, 18, 2, 53), datetime.date(2005, 6, 15), 2005, 2, 6, 24, 15), (datetime.datetime(2005, 6, 15, 21, 8, 46), datetime.date(2005, 6, 15), 2005, 2, 6, 24, 15)]

In [47]:
## insert data to dim_date table

query = '''insert into dim_date (date_key, date, year, quarter, month, week, day)
select payment_date as date_key,
date(payment_date) as date,
EXTRACT(year FROM payment.payment_date) as year,
EXTRACT(quarter FROM payment.payment_date) as quarter,
EXTRACT(month FROM payment.payment_date) as month,
EXTRACT(week FROM payment.payment_date) as week,
EXTRACT(day FROM payment.payment_date) as day
from payment;'''

In [48]:
insert_excecute_quary(query)

In [49]:
query_one = '''select * from dim_date limit 10'''
print(read_quary(query_one))

[(datetime.datetime(2005, 5, 25, 11, 30, 37), datetime.date(2005, 5, 25), 2005, 2, 5, 21, 25), (datetime.datetime(2005, 5, 28, 10, 35, 23), datetime.date(2005, 5, 28), 2005, 2, 5, 21, 28), (datetime.datetime(2005, 6, 15, 0, 54, 12), datetime.date(2005, 6, 15), 2005, 2, 6, 24, 15), (datetime.datetime(2005, 6, 15, 18, 2, 53), datetime.date(2005, 6, 15), 2005, 2, 6, 24, 15), (datetime.datetime(2005, 6, 15, 21, 8, 46), datetime.date(2005, 6, 15), 2005, 2, 6, 24, 15), (datetime.datetime(2005, 6, 16, 15, 18, 57), datetime.date(2005, 6, 16), 2005, 2, 6, 24, 16), (datetime.datetime(2005, 6, 18, 8, 41, 48), datetime.date(2005, 6, 18), 2005, 2, 6, 24, 18), (datetime.datetime(2005, 6, 18, 13, 33, 59), datetime.date(2005, 6, 18), 2005, 2, 6, 24, 18), (datetime.datetime(2005, 6, 21, 6, 24, 45), datetime.date(2005, 6, 21), 2005, 2, 6, 25, 21), (datetime.datetime(2005, 7, 8, 3, 17, 5), datetime.date(2005, 7, 8), 2005, 3, 7, 27, 8)]

## dim_customer

In [66]:
create_table_dim_customers = '''Create table if not exists dim_customer(
    customer_key int,
    first_name varchar(255),
    last_name varchar(255),
    email varchar(255),
    address varchar(255),
    district varchar(255),
    city varchar(255),
    postal_code varchar(255),
    PRIMARY KEY (customer_key))'''

In [67]:
excecute_quary(create_table_dim_customers)

In [53]:
query = '''show columns from customer '''
print(read_quary(query))

[('customer_id', b'smallint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('store_id', b'tinyint unsigned', 'NO', 'MUL', None, ''), ('first_name', b'varchar(45)', 'NO', '', None, ''), ('last_name', b'varchar(45)', 'NO', 'MUL', None, ''), ('email', b'varchar(50)', 'YES', '', None, ''), ('address_id', b'smallint unsigned', 'NO', 'MUL', None, ''), ('active', b'tinyint(1)', 'NO', '', b'1', ''), ('create_date', b'datetime', 'NO', '', None, ''), ('last_update', b'timestamp', 'YES', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]

In [61]:
query = '''select * from customer limit 2'''
print(read_quary(query))

[(1, 1, 'MARY', 'SMITH', 'MARY.SMITH@sakilacustomer.org', 5, 1, datetime.datetime(2006, 2, 14, 22, 4, 36), datetime.datetime(2006, 2, 15, 4, 57, 20)), (2, 1, 'PATRICIA', 'JOHNSON', 'PATRICIA.JOHNSON@sakilacustomer.org', 6, 1, datetime.datetime(2006, 2, 14, 22, 4, 36), datetime.datetime(2006, 2, 15, 4, 57, 20))]

In [55]:
query = '''show columns from address '''
print(read_quary(query))

[('address_id', b'smallint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('address', b'varchar(50)', 'NO', '', None, ''), ('address2', b'varchar(50)', 'YES', '', None, ''), ('district', b'varchar(20)', 'NO', '', None, ''), ('city_id', b'smallint unsigned', 'NO', 'MUL', None, ''), ('postal_code', b'varchar(10)', 'YES', '', None, ''), ('phone', b'varchar(20)', 'NO', '', None, ''), ('location', b'geometry', 'NO', 'MUL', None, ''), ('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]

In [57]:
query = '''select * from address limit 2'''
print(read_quary(query))

[(1, '47 MySakila Drive', None, 'Alberta', 300, '', '', bytearray(b'\x00\x00\x00\x00\x01\x01\x00\x00\x00>\n2]c4\\\xc0v\x1f\xdb\x8d\x99\xd9H@'), datetime.datetime(2014, 9, 25, 22, 30, 27)), (2, '28 MySQL Boulevard', None, 'QLD', 576, '', '', bytearray(b'\x00\x00\x00\x00\x01\x01\x00\x00\x00\x8e\x10\xd4\xdf\x81$c@N\xe0\x8cP"\xa2;\xc0'), datetime.datetime(2014, 9, 25, 22, 30, 9))]

In [58]:
query = '''show columns from city '''
print(read_quary(query))

[('city_id', b'smallint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('city', b'varchar(50)', 'NO', '', None, ''), ('country_id', b'smallint unsigned', 'NO', 'MUL', None, ''), ('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]

In [59]:
query = '''select * from city limit 2'''
print(read_quary(query))

[(1, 'A Coruña (La Coruña)', 87, datetime.datetime(2006, 2, 15, 4, 45, 25)), (2, 'Abha', 82, datetime.datetime(2006, 2, 15, 4, 45, 25))]

In [63]:
## view data to insert

query_view = '''select customer.customer_id as customer_key,
customer.first_name,
customer.last_name,
customer.email,
address.address,
address.district,
city.city,
address.postal_code
from customer 
join address on (customer.address_id = address.address_id)
join city on (address.city_id = city.city_id);'''

# print(read_quary(query_view))

In [69]:
## load data to dim_customer

query_load_customer = '''insert into dim_customer(customer_key, first_name, last_name, email, address, district, city, postal_code)

select customer.customer_id as customer_key,
customer.first_name,
customer.last_name,
customer.email,
address.address,
address.district,
city.city,
address.postal_code
from customer 
join address on (customer.address_id = address.address_id)
join city on (address.city_id = city.city_id);'''

In [70]:
insert_excecute_quary(query_load_customer)

In [71]:
query_one = '''select * from dim_customer limit 10'''
print(read_quary(query_one))

[(1, 'MARY', 'SMITH', 'MARY.SMITH@sakilacustomer.org', '1913 Hanoi Way', 'Nagasaki', 'Sasebo', '35200'), (2, 'PATRICIA', 'JOHNSON', 'PATRICIA.JOHNSON@sakilacustomer.org', '1121 Loja Avenue', 'California', 'San Bernardino', '17886'), (3, 'LINDA', 'WILLIAMS', 'LINDA.WILLIAMS@sakilacustomer.org', '692 Joliet Street', 'Attika', 'Athenai', '83579'), (4, 'BARBARA', 'JONES', 'BARBARA.JONES@sakilacustomer.org', '1566 Inegl Manor', 'Mandalay', 'Myingyan', '53561'), (5, 'ELIZABETH', 'BROWN', 'ELIZABETH.BROWN@sakilacustomer.org', '53 Idfu Parkway', 'Nantou', 'Nantou', '42399'), (6, 'JENNIFER', 'DAVIS', 'JENNIFER.DAVIS@sakilacustomer.org', '1795 Santiago de Compostela Way', 'Texas', 'Laredo', '18743'), (7, 'MARIA', 'MILLER', 'MARIA.MILLER@sakilacustomer.org', '900 Santiago de Compostela Parkway', 'Central Serbia', 'Kragujevac', '93896'), (8, 'SUSAN', 'WILSON', 'SUSAN.WILSON@sakilacustomer.org', '478 Joliet Way', 'Hamilton', 'Hamilton', '77948'), (9, 'MARGARET', 'MOORE', 'MARGARET.MOORE@sakilacustomer.org', '613 Korolev Drive', 'Masqat', 'Masqat', '45844'), (10, 'DOROTHY', 'TAYLOR', 'DOROTHY.TAYLOR@sakilacustomer.org', '1531 Sal Drive', 'Esfahan', 'Esfahan', '53628')]

## dim_store

In [87]:
create_table_dim_store = '''Create table if not exists dim_store(
    store_key int,
    manager_staff_id int,
    staf_first_name varchar(255),
    staf_last_name varchar(255),
    email varchar(255),
    address_id int,
    PRIMARY KEY (store_key))'''

In [88]:
excecute_quary(create_table_dim_store)

In [72]:
query = '''show columns from store '''
print(read_quary(query))

[('store_id', b'tinyint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('manager_staff_id', b'tinyint unsigned', 'NO', 'UNI', None, ''), ('address_id', b'smallint unsigned', 'NO', 'MUL', None, ''), ('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]

In [73]:
query = '''select * from store limit 2'''
print(read_quary(query))

[(1, 1, 1, datetime.datetime(2006, 2, 15, 4, 57, 12)), (2, 2, 2, datetime.datetime(2006, 2, 15, 4, 57, 12))]

In [82]:
query = '''show columns from staff'''
print(read_quary(query))

[('staff_id', b'tinyint unsigned', 'NO', 'PRI', None, 'auto_increment'), ('first_name', b'varchar(45)', 'NO', '', None, ''), ('last_name', b'varchar(45)', 'NO', '', None, ''), ('address_id', b'smallint unsigned', 'NO', 'MUL', None, ''), ('picture', b'blob', 'YES', '', None, ''), ('email', b'varchar(50)', 'YES', '', None, ''), ('store_id', b'tinyint unsigned', 'NO', 'MUL', None, ''), ('active', b'tinyint(1)', 'NO', '', b'1', ''), ('username', b'varchar(16)', 'NO', '', None, ''), ('password', b'varchar(40)', 'YES', '', None, ''), ('last_update', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]

In [84]:
# query = '''select * from staff limit 1'''
# print(read_quary(query))

In [86]:
query = '''select store.store_id as store_key,
store.manager_staff_id,
staff.first_name,
staff.last_name,
staff.email,
staff.address_id
from staff
join store on (store.store_id = staff.store_id);'''
print(read_quary(query))

[(1, 1, 'Mike', 'Hillyer', 'Mike.Hillyer@sakilastaff.com', 3), (2, 2, 'Jon', 'Stephens', 'Jon.Stephens@sakilastaff.com', 4)]

In [89]:
query_load_store = '''insert into dim_store(store_key, manager_staff_id, staf_first_name, staf_last_name, email, address_id)
select store.store_id as store_key,
store.manager_staff_id,
staff.first_name,
staff.last_name,
staff.email,
staff.address_id
from staff
join store on (store.store_id = staff.store_id);'''

insert_excecute_quary(query_load_store)

In [90]:
query_one = '''select * from dim_store limit 10'''
print(read_quary(query_one))

[(1, 1, 'Mike', 'Hillyer', 'Mike.Hillyer@sakilastaff.com', 3), (2, 2, 'Jon', 'Stephens', 'Jon.Stephens@sakilastaff.com', 4)]

## dim_movie

In [ ]:
create_table_dim_movie = '''Create table if not exists dim_movie(
    movie_key int,
    flim_id int,
    title varchar(255),
    description int,
    release_date int,
    language varchar(255),
    original_language varchar(255),
    length int,
    rating int,
    special_features varchar(255),
    PRIMARY KEY (movie_key))'''

## fact_sales

In [ ]:
create_table_fact_sales = '''Create table if not exists fact_sales(
    sales_key int,
    date_key int,
    customer_key int,
    movie_key int,
    store_key int,
    sales_amount int,
    PRIMARY KEY (sales_key))'''

create_table_fact_sales = '''Create table if not exists fact_sales(
    sales_key int,
    date_key int ,
    customer_key int,
    movie_key int,
    store_key int,
    sales_amount int,
    PRIMARY KEY (sales_key))'''