In [1]:
"""
    @Author: Vipul Shete
    @Date: 2022-12-14
    @Last Modified by: Vipul Shete
    @Last Modified Date: 2022-12-14
    @Title : Data modeling with wealth dataset.
"""

'\n    @Author: Vipul Shete\n    @Date: 2022-12-14\n    @Last Modified by: Vipul Shete\n    @Last Modified Date: 2022-12-14\n    @Title : Data modeling with wealth dataset.\n'

In [1]:
import mysql.connector
import pandas as pd

In [2]:
def excecute_quary(quary):
    """
        Description:
            To connect database and excecute sql quary.
        Parameter:
            quary: sql quary
        Return: 
            none 
    """
    try:
        db_connection = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Vaibhav@123",
        database="starschema")
        db_cursor = db_connection.cursor()
        db_cursor.execute(quary)
        
    except Exception as e:
        print("Other problems check", e)

def insert_excecute_quary(quary, row):
    """
        Description:
            To connect database and excecute sql quary for insert the data.
        Parameter:
            quary: sql quary 
            row: records that save in table
        Return: 
            none 
    """
    try:
        db_connection = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Vaibhav@123",
        database="starschema")
        db_cursor = db_connection.cursor()
        db_cursor.execute(quary, row)
        db_connection.commit()
        
    except Exception as e:
        print("Other problems check", e)

def read_quary(quary):
    """
        Description:
            To connect database and read sql quary.
        Parameter:
            quary: sql quary
        Return: 
            result of quary 
    """
    try:
        db_connection = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="Vaibhav@123",
        database="starschema")
        db_cursor = db_connection.cursor()
        db_cursor.execute(quary)
        result = db_cursor.fetchall()
        return result
    except Exception as e:
        print("Other problems check", e)

In [3]:
quary = '''show tables;'''
print(read_quary(quary))

[('student_details',), ('student_info',)]

## select attributes

## account_country

In [27]:
account_country = pd.read_csv("wealth-accountCountry.csv", encoding='latin-1')
account_country_dataframe = pd.DataFrame(account_country)

In [28]:
account_country_dataframe.head()

,Code,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,Latest population census,Latest household survey,Special Notes,...,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name
0,ALB,Republic of Albania,Upper middle income,Europe & Central Asia,IBRD,NaN,Albanian lek,2020 (expected),"Demographic and Health Survey, 2017/18",NaN,...,Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2018.0,2006.0,AL,AL,Albania,Albania
1,ARG,Argentine Republic,Upper middle income,Latin America & Caribbean,IBRD,NaN,Argentine peso,2020 (expected),"Multiple Indicator Cluster Survey, 2019/20",NaN,...,"Integrated household survey (IHS), 2016",Yes,2008,2002.0,2018.0,2011.0,AR,AR,Argentina,Argentina
2,ARM,Republic of Armenia,Upper middle income,Europe & Central Asia,IBRD,NaN,Armenian dram,2020 (expected),"Demographic and Health Survey, 2015/16",NaN,...,"Integrated household survey (IHS), 2016",Yes,2014,NaN,2018.0,2012.0,AM,AM,Armenia,Armenia
3,AUS,Commonwealth of Australia,High income,East Asia & Pacific,NaN,NaN,Australian dollar,2016,NaN,Fiscal year end: June 30; reporting period for...,...,"Expenditure survey/budget survey (ES/BS), 2010",Yes,2015-2016,2013.0,2018.0,2013.0,AU,AU,Australia,Australia
4,AUT,Republic of Austria,High income,Europe & Central Asia,NaN,Euro area,Euro,2011. Population figures compiled from adminis...,NaN,A simple multiplier is used to convert the nat...,...,"Income survey (IS), 2015",Yes,2010,2014.0,2018.0,2010.0,AT,AT,Austria,Austria

In [29]:
account_country_dataframe.columns

Index(['Code', 'Long Name', 'Income Group', 'Region', 'Lending category',
       'Other groups', 'Currency Unit', 'Latest population census',
       'Latest household survey', 'Special Notes',
       'National accounts base year', 'National accounts reference year',
       'System of National Accounts', 'SNA price valuation',
       'Alternative conversion factor', 'PPP survey years',
       'Balance of Payments Manual in use', 'External debt Reporting status',
       'System of trade', 'Government Accounting concept',
       'IMF data dissemination standard',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', '2-alpha code', 'WB-2 code',
       'Table Name', 'Short Name'],
      dtype='object')

In [30]:
account_country_clean = account_country_dataframe[['Code', 'Short Name', 'Table Name', 'Long Name', 'Currency Unit']]

In [31]:
account_country_clean.head()

  Code Short Name Table Name                  Long Name      Currency Unit
0  ALB    Albania    Albania        Republic of Albania       Albanian lek
1  ARG  Argentina  Argentina         Argentine Republic     Argentine peso
2  ARM    Armenia    Armenia        Republic of Armenia      Armenian dram
3  AUS  Australia  Australia  Commonwealth of Australia  Australian dollar
4  AUT    Austria    Austria        Republic of Austria               Euro

In [73]:
create_table_country = '''Create table accounts_country(
    country_Code varchar(255),
    Short_Name varchar(255),
    Table_Name varchar(255),
    Long_Name varchar(255),
    Currency_Unit varchar(255),
    PRIMARY KEY (country_Code))'''

In [74]:
excecute_quary(create_table_country)

In [187]:
## insert data in table
insert_data_country = '''insert into accounts_country(country_Code, Short_Name, Table_Name, Long_Name, Currency_Unit) VALUES (%s, %s, %s, %s, %s)'''

In [130]:
excecute_quary(insert_data_country)

In [140]:
# for i, row in account_country_clean.iterrows():
#     print(list(row))

In [188]:
for i, row in account_country_clean.iterrows():
    insert_excecute_quary(insert_data_country, list(row))

In [190]:
show_query = '''select * from accounts_country limit 10'''
print(read_quary(show_query))

[('ALB', 'Albania', 'Albania', 'Republic of Albania', 'Albanian lek'), ('ARE', 'United Arab Emirates', 'United Arab Emirates', 'United Arab Emirates', 'U.A.E. dirham'), ('ARG', 'Argentina', 'Argentina', 'Argentine Republic', 'Argentine peso'), ('ARM', 'Armenia', 'Armenia', 'Republic of Armenia', 'Armenian dram'), ('AUS', 'Australia', 'Australia', 'Commonwealth of Australia', 'Australian dollar'), ('AUT', 'Austria', 'Austria', 'Republic of Austria', 'Euro'), ('AZE', 'Azerbaijan', 'Azerbaijan', 'Republic of Azerbaijan', 'New Azeri manat'), ('BDI', 'Burundi', 'Burundi', 'Republic of Burundi', 'Burundi franc'), ('BEL', 'Belgium', 'Belgium', 'Kingdom of Belgium', 'Euro'), ('BEN', 'Benin', 'Benin', 'Republic of Benin', 'West African CFA franc')]

## account_data

In [225]:
account_data = pd.read_csv("wealth-accountData.csv", encoding='latin-1')
account_data_dataframe = pd.DataFrame(account_data)

In [226]:
account_data_rename_column = account_data_dataframe.rename(columns={'ï»¿Series Name': 'Indicator Name'})

In [227]:
account_data_rename_column.head()

,Indicator Name,Series Code,Country Name,Country Code,1995 [YR1995],1996 [YR1996],1997 [YR1997],1998 [YR1998],1999 [YR1999],2000 [YR2000],...,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,Human capital (constant 2018 US$),NW.HCA.TO,Albania,ALB,44861001530,43430547992,37131131819,38792147742,42196257452,43611277219,...,6.610924e+10,6.805651e+10,6.853525e+10,7.075229e+10,7.160031e+10,7.248767e+10,7.372787e+10,75716975793,78045555079,81214984640
1,Human capital (constant 2018 US$),NW.HCA.TO,Argentina,ARG,1.37855E+12,1.40471E+12,1.55117E+12,1.7414E+12,1.79004E+12,1.84136E+12,...,2.045920e+12,2.419210e+12,2.953450e+12,2.968890e+12,3.180360e+12,3.128110e+12,3.215850e+12,3.15301E+12,3.22663E+12,3.15994E+12
2,Human capital (constant 2018 US$),NW.HCA.TO,Armenia,ARM,31162180567,32446809421,32562110893,35586495233,35852007081,36048138201,...,5.795380e+10,6.083493e+10,6.729478e+10,7.026139e+10,7.214770e+10,7.320107e+10,8.011339e+10,76522388252,81504751657,84936407008
3,Human capital (constant 2018 US$),NW.HCA.TO,Australia,AUS,5.65711E+12,5.91611E+12,6.03646E+12,6.26521E+12,6.43226E+12,6.58307E+12,...,8.824470e+12,9.242020e+12,9.788920e+12,1.031640e+13,1.049550e+13,1.093710e+13,1.132480e+13,1.12677E+13,1.1503E+13,1.17879E+13
4,Human capital (constant 2018 US$),NW.HCA.TO,Austria,AUT,2.22685E+12,2.20598E+12,2.18531E+12,2.23164E+12,2.27984E+12,2.30108E+12,...,2.629330e+12,2.603340e+12,2.686480e+12,2.847440e+12,2.835930e+12,2.774530e+12,2.899920e+12,3.00628E+12,3.04663E+12,3.10569E+12

In [228]:
account_data_rename_column.columns

Index(['Indicator Name', 'Series Code', 'Country Name', 'Country Code',
       '1995 [YR1995]', '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]',
       '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]',
       '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]',
       '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]',
       '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]'],
      dtype='object')

In [229]:
account_data_clean = account_data_rename_column[['Indicator Name', 'Series Code', 'Country Name', 'Country Code', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]']]

In [230]:
new_account_data_clean = account_data_clean.head(500)
new_account_data_clean.head()

,Indicator Name,Series Code,Country Name,Country Code,2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,Human capital (constant 2018 US$),NW.HCA.TO,Albania,ALB,75716975793,78045555079,81214984640
1,Human capital (constant 2018 US$),NW.HCA.TO,Argentina,ARG,3.15301E+12,3.22663E+12,3.15994E+12
2,Human capital (constant 2018 US$),NW.HCA.TO,Armenia,ARM,76522388252,81504751657,84936407008
3,Human capital (constant 2018 US$),NW.HCA.TO,Australia,AUS,1.12677E+13,1.1503E+13,1.17879E+13
4,Human capital (constant 2018 US$),NW.HCA.TO,Austria,AUT,3.00628E+12,3.04663E+12,3.10569E+12

In [232]:
create_table_data = '''Create table if not exists accounts_data(
    Indicator_Name varchar(255),
    Series_Code varchar(255),
    Country_Name varchar(255),
    Country_Code varchar(255),
    year_2016 varchar(255),
    year_2017 varchar(255),
    year_2018 varchar(255));'''

In [231]:
query = '''drop TABLE accounts_data'''
excecute_quary(query)

In [233]:
excecute_quary(create_table_data)

In [234]:
## insert into account_data
insert_data_account_data = '''insert into accounts_data(Indicator_Name, Series_Code, Country_Name, Country_Code, year_2016, year_2017, year_2018) VALUES (%s, %s, %s, %s, %s, %s, %s)'''

In [235]:
for i, row in new_account_data_clean.iterrows():
    insert_excecute_quary(insert_data_account_data, list(row))

In [236]:
query = '''select * from accounts_data limit 10;'''
print(read_quary(query))

[('Human capital (constant 2018 US$)', 'NW.HCA.TO', 'Albania', 'ALB', '75716975793', '78045555079', '81214984640'), ('Human capital (constant 2018 US$)', 'NW.HCA.TO', 'Argentina', 'ARG', '3.15301E+12', '3.22663E+12', '3.15994E+12'), ('Human capital (constant 2018 US$)', 'NW.HCA.TO', 'Armenia', 'ARM', '76522388252', '81504751657', '84936407008'), ('Human capital (constant 2018 US$)', 'NW.HCA.TO', 'Australia', 'AUS', '1.12677E+13', '1.1503E+13', '1.17879E+13'), ('Human capital (constant 2018 US$)', 'NW.HCA.TO', 'Austria', 'AUT', '3.00628E+12', '3.04663E+12', '3.10569E+12'), ('Human capital (constant 2018 US$)', 'NW.HCA.TO', 'Azerbaijan', 'AZE', '82469321798', '83027321134', '83168555102'), ('Human capital (constant 2018 US$)', 'NW.HCA.TO', 'Bahrain', 'BHR', '1.33247E+11', '1.39538E+11', '1.43432E+11'), ('Human capital (constant 2018 US$)', 'NW.HCA.TO', 'Bangladesh', 'BGD', '1.8544E+12', '1.94772E+12', '2.08705E+12'), ('Human capital (constant 2018 US$)', 'NW.HCA.TO', 'Belarus', 'BLR', '3.75617E+11', '3.83378E+11', '3.86912E+11'), ('Human capital (constant 2018 US$)', 'NW.HCA.TO', 'Belgium', 'BEL', '3.54382E+12', '3.59602E+12', '3.63786E+12')]

## account_series

In [41]:
account_series = pd.read_csv("wealth-accountSeries.csv", encoding='latin-1')
account_series_dataframe = pd.DataFrame(account_series)

In [43]:
account_series_dataframe.head()

,ï»¿Code,Indicator Name,Long definition,Source,Topic,Unit of measure,Periodicity,Reference period,Statistical concept and methodology,Previous Indicator Code,Previous Indicator Name
0,NW.HCA.TO,Human capital (constant 2018 US$),Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN
1,NW.HCA.PC,Human capital per capita (constant 2018 US$),Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN
2,NW.HCA.FEMP.PC,"Human capital per capita, employed female (con...",Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN
3,NW.HCA.MEMP.PC,"Human capital per capita, employed male (const...",Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN
4,NW.HCA.FEMA.PC,"Human capital per capita, female (constant 201...",Human capital is computed as the present value...,World Bank. 2021. The Changing Wealth of Natio...,Human capital,Constant 2018 US$,Annual,1995-2018,Total wealth is calculated by summing up estim...,NaN,NaN

In [46]:
account_series.columns

Index(['ï»¿Code', 'Indicator Name', 'Long definition', 'Source', 'Topic',
       'Unit of measure', 'Periodicity', 'Reference period',
       'Statistical concept and methodology', 'Previous Indicator Code',
       'Previous Indicator Name'],
      dtype='object')

In [52]:
account_series_rename_column = account_series.rename(columns={'ï»¿Code': 'Series Code'})

In [53]:
account_series_rename_column.columns

Index(['Series Code', 'Indicator Name', 'Long definition', 'Source', 'Topic',
       'Unit of measure', 'Periodicity', 'Reference period',
       'Statistical concept and methodology', 'Previous Indicator Code',
       'Previous Indicator Name'],
      dtype='object')

In [58]:

account_series_clean = account_series_rename_column[['Topic', 'Indicator Name', 'Series Code', 'Long definition']]

In [213]:
account_series_clean.head()

,Topic,Indicator Name,Series Code,Long definition
0,Human capital,Human capital (constant 2018 US$),NW.HCA.TO,Human capital is computed as the present value...
1,Human capital,Human capital per capita (constant 2018 US$),NW.HCA.PC,Human capital is computed as the present value...
2,Human capital,"Human capital per capita, employed female (con...",NW.HCA.FEMP.PC,Human capital is computed as the present value...
3,Human capital,"Human capital per capita, employed male (const...",NW.HCA.MEMP.PC,Human capital is computed as the present value...
4,Human capital,"Human capital per capita, female (constant 201...",NW.HCA.FEMA.PC,Human capital is computed as the present value...

In [178]:
create_table_series = '''Create table if not exists accounts_series(
    Topic varchar(255),
    Indicator_Name varchar(255),
    Series_Code	 varchar(255),
    Long_definition LONGTEXT)'''

In [177]:
# query = '''drop TABLE accounts_series'''
# excecute_quary(query)

In [179]:
excecute_quary(create_table_series)

In [214]:
insert_data_account_series = '''insert into accounts_series(Topic, Indicator_Name, Series_Code, Long_definition) VALUES (%s, %s, %s, %s)'''

In [215]:
for i, row in account_series_clean.iterrows():
    insert_excecute_quary(insert_data_account_series, list(row))

In [216]:
query = '''select * from accounts_series limit 10'''
print(read_quary(query))

[('Human capital', 'Human capital (constant 2018 US$)', 'NW.HCA.TO', 'Human capital is computed as the present value of future earnings for the working population over their lifetimes.  Values are measured at market exchange rates in constant 2018 US dollars, using a country-specific GDP deflator.'), ('Human capital', 'Human capital per capita (constant 2018 US$)', 'NW.HCA.PC', 'Human capital is computed as the present value of future earnings for the working population over their lifetimes.  Values are measured at market exchange rates in constant 2018 US dollars, using a country-specific GDP deflator.'), ('Human capital', 'Human capital per capita, employed female (constant 2018 US$)', 'NW.HCA.FEMP.PC', 'Human capital is computed as the present value of future earnings for the working population over their lifetimes.  Values are measured at market exchange rates in constant 2018 US dollars, using a country-specific GDP deflator.'), ('Human capital', 'Human capital per capita, employed male (constant 2018 US$)', 'NW.HCA.MEMP.PC', 'Human capital is computed as the present value of future earnings for the working population over their lifetimes.  Values are measured at market exchange rates in constant 2018 US dollars, using a country-specific GDP deflator.'), ('Human capital', 'Human capital per capita, female (constant 2018 US$)', 'NW.HCA.FEMA.PC', 'Human capital is computed as the present value of future earnings for the working population over their lifetimes.  Values are measured at market exchange rates in constant 2018 US dollars, using a country-specific GDP deflator.'), ('Human capital', 'Human capital per capita, male (constant 2018 US$)', 'NW.HCA.MALE.PC', 'Human capital is computed as the present value of future earnings for the working population over their lifetimes.  Values are measured at market exchange rates in constant 2018 US dollars, using a country-specific GDP deflator.'), ('Human capital', 'Human capital per capita, self-employed female (constant 2018 US$)', 'NW.HCA.FSEM.PC', 'Human capital is computed as the present value of future earnings for the working population over their lifetimes.  Values are measured at market exchange rates in constant 2018 US dollars, using a country-specific GDP deflator.'), ('Human capital', 'Human capital per capita, self-employed male (constant 2018 US$)', 'NW.HCA.MSEM.PC', 'Human capital is computed as the present value of future earnings for the working population over their lifetimes.  Values are measured at market exchange rates in constant 2018 US dollars, using a country-specific GDP deflator.'), ('Human capital', 'Human capital, employed female (constant 2018 US$)', 'NW.HCA.FEMP.TO', 'Human capital is computed as the present value of future earnings for the working population over their lifetimes.  Values are measured at market exchange rates in constant 2018 US dollars, using a country-specific GDP deflator.'), ('Human capital', 'Human capital, employed male (constant 2018 US$)', 'NW.HCA.MEMP.TO', 'Human capital is computed as the present value of future earnings for the working population over their lifetimes.  Values are measured at market exchange rates in constant 2018 US dollars, using a country-specific GDP deflator.')]

In [217]:
query = '''select count(*) from accounts_series'''
print(read_quary(query))

[(104,)]

In [100]:
## view tables
query = '''show tables'''
print(read_quary(query))

[('accounts_country',), ('accounts_data',), ('accounts_series',), ('student_details',), ('student_info',)]